@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme(
	(
		color: (
			theme-type: light,
			primary: mat.$azure-palette,
			tertiary: mat.$magenta-palette,
		),
	)
);

$dark-theme: mat.define-theme(
	(
		color: (
			theme-type: dark,
			primary: mat.$azure-palette,
			tertiary: mat.$magenta-palette,
		),
	)
);

:root {
	@include mat.all-component-themes($light-theme);
}

body.theme-light {
	color-scheme: light;
}

body.theme-dark {
	@include mat.all-component-colors($dark-theme);
	color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
}
